body
{
  margin: 0 !important;
  overflow-x: hidden;
  height: 100%;
  width: 100%;

}

#container
{
	position: absolute;
	height: 100%;
	width: 100%;	
	background: grey;
}
nav
{
	
	position:absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 10%;
	z-index: 100;
	bor der: 1px solid black;
}

.menu
{

	position: relative;
	background: red;
	margin: 10px 0 10px 0;
	padding: 10px;
	width: 80%;
	text-align: center;
	border-radius: 0 5px  5px 0 ;
	z-index: 100;
	cursor: pointer;
}
.slide
{
	position: absolute;
	height: 80%;
	width: 100%;	
	bottom: 0px;
	margin-left:-100%;
	background: yellow;
	z-index: 1
}



.ja
{

	background: yellow;

}
.ty
{

	background: blue;

}
.my
{

	background: green;

}
.wy
{
	background: pink;
}

.ex
{
	position: absolute;
	background: grey;
	right: 0%;
	margin: 20px 0 20px 0;
	padding: 5px;
	width: 20px;
	text-align: center;
	border-radius: 5px 0 0 5px;
	z-index: 100;
	cursor: pointer;
	
}
.content
{
	display: block;
	position: relative;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	
}
